build/*
bin/*
install/output/
docs/output/
libs/tinyxml/Debug*
libs/tinyxml/Release*
libs/tinyxml/lib/
libs/tinyxml/docs/
libs/wxWidgets/lib/vc_lib/
libs/wxWidgets/build/msw/packages/
libs/wxWidgets/build/msw/vc_mswu/
libs/wxWidgets/build/msw/vc_mswud/
libs/wxWidgets/build/msw/vc14x_mswuddll*
libs/wxWidgets/build/msw/vc14x_mswudll*
libs/wxWidgets/lib/
libs/wxWidgets/samples/
libs/wxWidgets/docs/
libs/wxWidgets/demos/
libs/wxWidgets/tests/
.vs